@using ForumApp.Data.Models;
@using Microsoft.AspNetCore.Identity;
@model ForumApp.Web.ViewModels.Topics.TopicsListViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    this.ViewData["Title"] = "All Topics";
}

<h1>@this.ViewData["Title"]</h1>

<hr />
<div class="row border">
    @foreach (var topic in this.Model.Topics)
    {
        <div class="media col-md-3 border">
            <div class="media-body">
                @topic.Content
                <br>
                Replies: @topic.RepliesCount
                <br>
                Likes: @topic.LikesCount
                <br>
                Day Awards: @topic.DayAwards
                <br>
                Month Awards: @topic.MonthAwards
                <br>
                Year Awards: @topic.YearAwards
            </div>
            @if (this.User.Identity.IsAuthenticated)
            {
                <div>
                    <a asp-action="Reply" asp-route-id="@topic.Id" class="btn btn-success">Reply</a>
                </div>
                <br>
                <div>
                    <a asp-controller="Reply" asp-action="All" asp-route-id="@topic.Id" class="btn btn-success">ShowReplies</a>
                </div>
                <br>
                
                @if (this.UserManager.GetUserId(this.User) == topic.TopicUserId)
                {
                    <div>
                        <a asp-action="Edit" asp-route-id="@topic.Id" asp-route-userId="@topic.TopicUserId" class="btn btn-primary">Edit</a>
                        <form asp-action="Delete" asp-route-id="@topic.Id" asp-route-userId="@topic.TopicUserId">
                            <br>
                            <button type="submit" class="btn btn-danger"
                                onclick="return confirm('Are you sure you want to delete this topic ?')">
                                Delete
                            </button>
                        </form>
                    </div>
                }
                else
                {
                    <div>
                        <a asp-action="Like" asp-route-id="@topic.Id" asp-route-userId="@topic.TopicUserId" class="btn btn-primary">Like</a>
                    </div>
                    <br>
                    <div>
                        <a asp-action="DisLike" asp-route-id="@topic.Id" asp-route-userId="@topic.TopicUserId" class="btn btn-primary">DisLike</a>
                    </div>
                    <br>
                    <div>
                        <a asp-action="DayAward" asp-route-id="@topic.Id" asp-route-userId="@topic.TopicUserId" class="btn btn-dark">DayAward</a>
                    </div>
                    <br>
                    <div>
                        <a asp-action="MonthAward" asp-route-id="@topic.Id" asp-route-userId="@topic.TopicUserId" class="btn btn-dark">MonthAward</a>
                    </div>
                    <br>
                    <div>
                        <a asp-action="YearAward" asp-route-id="@topic.Id" asp-route-userId="@topic.TopicUserId" class="btn btn-dark">YearAward</a>
                    </div>
                }
            }           
        </div>
    }
</div>
<br>
<partial name="_PagingPartial" model="@this.Model" />
