@using ForumApp.Data.Models;
@using Microsoft.AspNetCore.Identity;
@model ForumApp.Web.ViewModels.Replies.ReplyListViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    this.ViewData["Title"] = "All Replies";
}

<h1>@this.ViewData["Title"]</h1>

<hr />
<div class="row">
    @foreach (var reply in this.Model.Replies)
    {
        <div class="media col-md-3">
            <div class="media-body">
                @reply.Content
            </div>
            @if (this.User.Identity.IsAuthenticated)
            {
                @if (this.UserManager.GetUserId(this.User) == reply.UserId)
                {
                    <br>
                    <div>
                        <a asp-action="Edit" asp-route-id="@reply.Id" asp-route-userId="@reply.UserId" class="btn btn-primary">Edit</a>
                        <form asp-action="Delete" asp-route-id="@reply.Id" asp-route-userId="@reply.UserId">
                            <br>
                            <button type="submit" class="btn btn-danger"
                        onclick="return confirm('Are you sure you want to delete this topic ?')">
                                Delete
                            </button>
                        </form>
                    </div>
                }
            }
        </div>
    }
</div>
