@model SportApp.Web.ViewModels.Trainers.TrainersListViewModel
@{
    this.ViewData["Title"] = "All Trainers";
}

<h1>@this.ViewData["Title"]</h1>
<hr />
<div class="row">
    @foreach (var trainer in this.Model.Trainers)
    {
        <div class="media col-md-3">
            <img class="mr-3" src="@trainer.ImageUrl" width="200" height="200">
            <div class="media-body">
                <h5 class="mt-0">
                    <a asp-action="ById" asp-route-id="@trainer.Id">
                        @trainer.Name
                    </a>
                </h5>
                @trainer.CategoryName
            </div>
        </div>
    }
</div>
<partial name="_PagingPartial" model="@this.Model" />
